################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/orderpath-server/FileContentIndex/65019b71-bc6f-40ed-9cf8-2973041d7847.vsidx
