################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/orderpath-server/FileContentIndex/6169f001-a587-4ec5-9786-97b759a049bd.vsidx
/.vs/orderpath-server/FileContentIndex/6dfeb7de-3b14-44ad-9206-d53d32d554b7.vsidx
